<template>
    <div class="h-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container">
                <router-link to="/" class="navbar-brand">Jobsity</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navContent">
                    <ul class="navbar-nav ml-auto">
                        <router-link tag="li" active-class="active" to="/login" class="nav-item" v-if="!$auth.isLoggedin()">
                            <a href="" class="nav-link">Login</a>
                        </router-link>
                        <router-link tag="li" active-class="active" to="/register" class="nav-item" v-if="!$auth.isLoggedin()">
                            <a href="" class="nav-link">Register</a>
                        </router-link>
                        <li class="nav-item" v-if="$auth.isLoggedin()">
                            <a href="" @click.prevent="logout" class="nav-link">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>

        <div class="container wrapper">
            <router-view class="wrapper-inside" :key="childrenKey"></router-view>
        </div>

        <footer>
            <p>All rights reserved - &copy; Jobsity - {{(new Date()).getFullYear()}}</p>
        </footer>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showLogin:false,
                user:{},
                childrenKey:Math.random()*Date.now()
            }
        },
        props: [],
        methods: {
            logout(){
                this.$auth.destroyToken();
                this.$forceUpdate();
                this.childrenKey=Math.random()*Date.now();
            }
        }
    }
</script>

<style scoped>

</style>
