.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    margin-top: -55px;
    padding-top: 55px;

    .wrapper-inside {
        height: 100%;
        padding-bottom: 70px;
        padding-top: 20px;
    }
}

footer {
    background: $grey;
    padding: 20px 0;
    height:50px;

    p {
        text-align: center;
        font-size: .8em;
        padding: 0;
        margin: 0;
        color: $darkgrey;
    }
}
