.tw-status {
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    max-width: 520px;
    padding: 1.5em;

    .mutedLink {
        color: $grey;
    }

    &.bg-dark.text-white {
        .tw-author a { color: #fff }
    }

    .tw-header {

        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 20px;

        .tw-avatar {
            height: 36px;
            width: 36px;
            display: inline-block;

            img {
                width: 100%;
                height: auto;
            }
        }

        .tw-author {
            margin-left: 10px;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
            line-height: 1.2;
            align-items: flex-start;
            min-width: 0;

            a {
                color: black;
            }

            .name {
                display: flex;
                font-weight: 800;

                .verified-badge {
                    margin-left: 5px;
                    height: 17px;
                    width: 17px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2064%2072"><path%20fill%3D"none"%20d%3D"M0%200h64v72H0z"%2F><path%20fill%3D"%231da1f2"%20d%3D"M3%2037.315c0%204.125%202.162%207.726%205.363%209.624-.056.467-.09.937-.09%201.42%200%206.103%204.72%2011.045%2010.546%2011.045%201.295%200%202.542-.234%203.687-.686C24.22%2062.4%2027.827%2064.93%2032%2064.93c4.174%200%207.782-2.53%209.49-6.213%201.148.45%202.39.685%203.69.685%205.826%200%2010.546-4.94%2010.546-11.045%200-.483-.037-.953-.093-1.42C58.83%2045.04%2061%2041.44%2061%2037.314c0-4.37-2.42-8.15-5.933-9.946.427-1.203.658-2.5.658-3.865%200-6.104-4.72-11.045-10.545-11.045-1.302%200-2.543.232-3.69.688-1.707-3.685-5.315-6.216-9.49-6.216-4.173%200-7.778%202.53-9.492%206.216-1.146-.455-2.393-.688-3.688-.688-5.827%200-10.545%204.94-10.545%2011.045%200%201.364.23%202.662.656%203.864C5.42%2029.163%203%2032.944%203%2037.314z"%2F><path%20fill%3D"%23FFF"%20d%3D"M17.87%2039.08l7.015%206.978c.585.582%201.35.873%202.116.873.77%200%201.542-.294%202.127-.883.344-.346%2015.98-15.974%2015.98-15.974%201.172-1.172%201.172-3.07%200-4.243-1.17-1.17-3.07-1.172-4.242%200l-13.87%2013.863-4.892-4.868c-1.174-1.168-3.074-1.164-4.242.01-1.168%201.176-1.163%203.075.01%204.244z"%2F><%2Fsvg>');
                }
            }
        }

        .tw-hide {
            margin-left: auto;
            font-size: 1.4em;

            a {
                color: #697882;

                &:hover{
                    color:#3b94d9;
                }
            }
        }


        @media(max-width: 600px){
            .tw-hide {
                font-size: 1em;
                margin-left: 5px;

                .fa {
                    vertical-align: top;
                }
            }
        }
    }

    .tw-body {
        .tw-card {
            width: 100%;

            img {
                width: 100%;
                border-radius: .25em;

            }

            .quoted {
                border:1px solid $grey;
                border-radius: .25em;
                padding: 10px;
                font-size: 90%;
                color: inherit;
                display:block;

                &:hover {
                    color: inherit;
                    background: rgba(255,255,255,.3);
                    text-decoration: none;
                }

                .verified-badge {
                    display: inline-block;
                    margin-left: 3px;
                    height: 12px;
                    width: 15px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2064%2072"><path%20fill%3D"none"%20d%3D"M0%200h64v72H0z"%2F><path%20fill%3D"%231da1f2"%20d%3D"M3%2037.315c0%204.125%202.162%207.726%205.363%209.624-.056.467-.09.937-.09%201.42%200%206.103%204.72%2011.045%2010.546%2011.045%201.295%200%202.542-.234%203.687-.686C24.22%2062.4%2027.827%2064.93%2032%2064.93c4.174%200%207.782-2.53%209.49-6.213%201.148.45%202.39.685%203.69.685%205.826%200%2010.546-4.94%2010.546-11.045%200-.483-.037-.953-.093-1.42C58.83%2045.04%2061%2041.44%2061%2037.314c0-4.37-2.42-8.15-5.933-9.946.427-1.203.658-2.5.658-3.865%200-6.104-4.72-11.045-10.545-11.045-1.302%200-2.543.232-3.69.688-1.707-3.685-5.315-6.216-9.49-6.216-4.173%200-7.778%202.53-9.492%206.216-1.146-.455-2.393-.688-3.688-.688-5.827%200-10.545%204.94-10.545%2011.045%200%201.364.23%202.662.656%203.864C5.42%2029.163%203%2032.944%203%2037.314z"%2F><path%20fill%3D"%23FFF"%20d%3D"M17.87%2039.08l7.015%206.978c.585.582%201.35.873%202.116.873.77%200%201.542-.294%202.127-.883.344-.346%2015.98-15.974%2015.98-15.974%201.172-1.172%201.172-3.07%200-4.243-1.17-1.17-3.07-1.172-4.242%200l-13.87%2013.863-4.892-4.868c-1.174-1.168-3.074-1.164-4.242.01-1.168%201.176-1.163%203.075.01%204.244z"%2F><%2Fsvg>');
                }

                .header img{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }

                .body {
                    display: block;
                }
            }
        }

        .tw-info {
            display: flex;
            padding-top: 15px;
            a {
                color: #697882;

                &:hover{
                    color:#3b94d9;
                }
            }

            .likes {

                &:hover {
                    color: #E0245E;
                }
            }

            .time {
                margin-left: 10px;
            }

            .info {
                margin-left: auto;
            }
        }
    }
}
