// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "footer";
@import "navbar";
@import "tw-status";
@import "loader";


html, body {
    height: 100%;
    margin: 0;
}
