<template>
    <div class="tw-status mb-3 bg-dark text-white">

        <div class="tw-header">


            <a class="tw-avatar" :href="'https://twitter.com/'+tweet.user.screen_name">
                <img :src="tweet.user.profile_image_url">
            </a>


            <div class="tw-author">
                <a :href="'https://twitter.com/'+tweet.user.screen_name">

                    <div class="name">
                        <span>{{tweet.user.name}}</span>
                        <span class="verified-badge" v-if="tweet.user.verified"></span>
                    </div>

                    <span class="tw-screenName">@{{tweet.user.screen_name}}</span>

                </a>
            </div>
            <div class="tw-hide" v-if="$auth.isLoggedin() && $auth.getIdentity().twitter_username == tweet.user.screen_name">
                <a href="javascript:void(0);" @click="$emit('toggle')" :title="tweet.hidden ? 'Unhide' : 'Hide'">
                    <i class="fa" :class="tweet.hidden ? 'fa-eye' : 'fa-eye-slash'"></i>
                </a>
            </div>


        </div>
        <div class="tw-body">

            <p>
                <span class="d-block" v-html="linkify(tweet.full_text)">
                </span>
            </p>




            <div class="tw-card" v-if="tweet.entities.media">

                <article v-for="media in tweet.entities.media">
                    <a :href="media.expanded_url">
                        <img :src="media.media_url">
                    </a>
                </article>

            </div>

            <div class="tw-card" v-if="tweet.quoted_status">
                <a class="quoted" :href="tweet.quoted_status_permalink.url">
                    <article>
                            <span class="header">
                                <img :src="tweet.quoted_status.user.profile_image_url" alt="">

                                <b>{{tweet.quoted_status.user.name}}</b>

                                <span class="verified-badge" v-if="tweet.quoted_status.user.verified"></span>

                                <a class="mutedLink" :href="'http://twitter.com/'+tweet.quoted_status.user.screen_name">@{{tweet.quoted_status.user.screen_name}}</a>

                            </span>
                            <div class="body" v-html="linkify(tweet.quoted_status.full_text)">
                            </div>
                    </article>
                </a>
            </div>

            <div class="tw-info">
                <a class="likes" :href="'https://twitter.com/intent/like?tweet_id='+tweet.id">
                    <div class="fa fa-heart"></div>
                    <span>{{tweet.favorite_count}}</span>
                </a>
                <div class="time">
                    <a :href="'https://twitter.com/'+tweet.user.id+'/status/'+tweet.id">
                        {{parseTime(tweet.created_at)}}
                    </a>
                </div>
                <div class="info">
                    <a href="https://support.twitter.com/articles/20175256">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        data() {
            return {}
        },
        props: ['tweet'],
        mounted(){},
        methods: {
            parseTime(time){
                let utc = moment.utc(time);
                let local = moment(utc).local();
                return local.format('h:mm A MMM d, YYYY');
            },
            linkify(inputText){
                var replacedText, replacePattern1, replacePattern2, replacePattern3, replacePattern4, replacePattern5;

                //URLs starting with http://, https://, or ftp://
                replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
                replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');

                //URLs starting with "www." (without // before it, or it'd re-link the ones done above).
                replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
                replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');

                //Change email addresses to mailto:: links.
                replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
                replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');

                //Change Hashtags to hasthtag links.
                replacePattern4 = /(#)+([a-z\d][\w-]*)/ig;
                replacedText = replacedText.replace(replacePattern4, '<a href="https://twitter.com/hashtag/$2?src=hashtag_click">$1$2</a>');

                //Change Mentions to mention links.
                replacePattern5 = /(@)+([a-z\d][\w-]*)/ig;
                replacedText = replacedText.replace(replacePattern5, '<a href="https://twitter.com/$2">$1$2</a>');

                return replacedText;
            }
        },
    }
</script>

<style scoped>

</style>
