<template>
    <div>
        <div class="content">
            <div class="row">
                <div class="col-md-8 mb-3">
                    <div class="card text-white bg-dark">
                        <div class="card-header" v-if="author">
                            <h4>{{author.name}}'s Entries</h4>
                        </div>
                        <div class="card-body">
                            <div>
                                <ul class="list-group list-group-flush w-100" v-if="list.data && list.data.length">
                                    <li class="list-group-item" v-for="item in list.data">
                                        <button class="btn btn-sm float-right btn-info"
                                                v-if="$auth.isLoggedin() && $auth.getIdentity().id === item.user_id"
                                                @click="editItem(item)">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-sm float-right mr-2 btn-danger"
                                                v-if="$auth.isLoggedin() && $auth.getIdentity().id === item.user_id"
                                                @click="deleteItem(item)">
                                            <i class="fas fa-trash"></i>
                                        </button>

                                        <h4>{{item.title}}</h4>

                                        <p>
                                            {{item.content}}
                                        </p>

                                        <div class="list-footer">
                                            <small class="float-left">Created: {{item.created_at}}</small>
                                        </div>

                                    </li>
                                </ul>
                                <p class="text-center" v-if="!list.data || !list.data.length">No entries</p>

                            </div>
                        </div>
                        <div class="card-footer">
                            <page-functions
                                @changed="getEntries"
                                :last_page="list.last_page"></page-functions>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" v-if="!loadingTweets && (tweets.data && tweets.data.length)">
                    <twitter-status v-for="tweet in tweets.data"
                                    @change="getTweets"
                                    @toggle="toggleTweet(tweet.id_str)"
                                    :tweet="tweet"
                                    :key="tweet.key"
                    ></twitter-status>
                </div>
                <div class="col-md-4" v-if="!loadingTweets && (!tweets.data || !tweets.data.length)">
                    <div class="card bg-dark text-white">
                        <div class="card-body">No tweets from this User</div>
                    </div>
                </div>
                <div class="col-md-4" v-if="loadingTweets">
                    <div class="card bg-dark text-white">
                        <div class="card-body text-center">
                            <div class="lds-facebook"><div></div><div></div><div></div></div>
                            <p>Loading Tweets...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <entries-form v-if="showForm"
                      :edittingItem="edittingItem"
                      @close="onCloseForm"
                      @saved="getEntries"></entries-form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                list:{},
                tweets:{},
                author:null,
                showForm:false,
                edittingItem:null,
                loadingTweets:true
            }
        },
        props: [],
        mounted() {
            if (!this.author){
                this.getAuthor();
            } else {
                this.getEntries();
                this.getTweets();
            }
        },
        methods: {
            getAuthor(){
                let url = '/api/author/'+this.$route.params.author;

                axios.get(url)
                    .then(res=>{
                        this.author = res.data.data;
                        this.getEntries();
                        this.getTweets();
                    })
                    .catch(err=>this.showError(err));
            },
            getEntries(evt={}){
                let url = '/api/author/'+this.author.id+'/entries';

                axios.get(url.paginableUrl(evt))
                    .then(res=>{
                        this.list = res.data;
                    })
                    .catch(err=>this.showError(err));
            },
            getTweets(evt={}){
                this.loadingTweets = true;

                let url = '/api/author/'+this.author.id+'/tweets';

                evt.per_page = 5;
                let user = null;
                if (this.$auth.isLoggedin()){
                    user = this.$auth.getIdentity();
                }

                if (user && user.id === this.author.id){
                    url = '/api/author/tweets';
                }


                axios.get(url.paginableUrl(evt))
                    .then(res=>{
                        this.tweets = res.data;

                        if (this.tweets.data)
                            this.tweets.data = this.tweets.data.map(x=>{
                                x.key = Math.random()*Date.now();
                                return x;
                            });

                        this.loadingTweets = false;
                    })
                    .catch(err=>this.showError(err));
            },
            toggleTweet(id){
                axios.put('/api/author/'+this.$route.params.author+'/tweets/'+id+'/toggle')
                    .then(res=>{
                        this.$toast.success(res.data.data);
                        this.getTweets();
                    })
                    .catch(err=>this.showError(err));
            },
            deleteItem(item){
                let url = '/api/entries/';

                axios.delete(url+item.id)
                    .then(res=>{
                        this.$toast.success(res.data.data);
                        this.getEntries();
                    })
                    .catch(err=>this.showError(err));
            },
            editItem(item){
                this.edittingItem = item;
                this.showForm = true;
            },
            onCloseForm(){
                this.edittingItem = null;
                this.showForm = false;
            }
        }
    }

</script>

<style scoped>
    .list-group-item { background: transparent; }
    .list-group-item .list-footer {opacity: .6}
</style>
