<template>
    <modal ref="modal" @close="$emit('close')" :size="'md'">
        <template slot="title">{{title}}</template>


        <template slot="body">
            <div class="row">
                <div class="col">
                    <div class="from-group">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Enter entry title" v-model="result.title">
                    </div>
                    <div class="from-group mt-3">
                        <label>Content</label>
                        <textarea class="form-control" placeholder="Enter entry content" v-model="result.content"></textarea>
                    </div>
                </div>
            </div>
        </template>


        <template slot="footer">
            <button class="btn btn-primary" @click="save" v-if="!edittingItem">Save</button>
            <button class="btn btn-primary" @click="update" v-if="edittingItem">Update</button>
        </template>
    </modal>
</template>

<script>
    export default {
        data(){
            return {
                result:{},
                title:'New Entry'
            }
        },
        props:['edittingItem'],
        mounted(){
            if (this.edittingItem){
                this.title='Entry Modification';
                this.result = Object.assign({},this.edittingItem);
            }
        },
        methods:{
            close(){
                this.$refs.modal.close();
            },
            save(){
                axios.post('/api/entries',this.result)
                    .then(res=>{
                        this.$toast.success(res.data.data);
                        this.$emit('saved');
                        this.close();
                    })
                    .catch(err=>this.showError(err));

            },
            update(){
                axios.put('/api/entries/'+this.edittingItem.id,this.result)
                    .then(res=>{
                        this.$toast.success(res.data.data);
                        this.$emit('saved');
                        this.close();
                    })
                    .catch(err=>this.showError(err));

            }

        }
    }
</script>

<style scoped>

</style>
