<template>
    <div>
        <div class="content">
            <div class="row">
                <div class="col">
                    <div class="card text-white bg-dark">
                        <div class="card-header" v-if="$auth.isLoggedin()">
                            <span class="btn btn-sm btn-primary btn-block float-right"
                                  @click="showForm = true">
                                <i class="fas fa-plus"></i>
                                New Entry
                            </span>
                        </div>
                        <div class="card-body">
                            <div>
                                <ul class="list-group list-group-flush w-100" v-if="list.data && list.data.length">
                                    <li class="list-group-item" v-for="item in list.data">
                                        <button class="btn btn-sm float-right btn-info"
                                                v-if="$auth.isLoggedin() && $auth.getIdentity().id === item.user_id"
                                                @click="editItem(item)">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-sm float-right mr-2 btn-danger"
                                                v-if="$auth.isLoggedin() && $auth.getIdentity().id === item.user_id"
                                                @click="deleteItem(item)">
                                            <i class="fas fa-trash"></i>
                                        </button>

                                        <h4>{{item.title}}</h4>

                                        <p>
                                            {{item.content}}
                                        </p>

                                        <router-link :to="'/author/'+item.user_id" class="btn btn-info btn-sm mb-3">Author's Page</router-link>

                                        <div class="list-footer">
                                            <small class="float-right">Author: {{item.user.name}}</small>
                                            <small class="float-left">Created: {{item.created_at}}</small>
                                        </div>

                                    </li>
                                </ul>
                                <p class="text-center" v-if="!list.data || !list.data.length">No entries</p>

                            </div>
                        </div>
                        <div class="card-footer">
                            <page-functions
                                @changed="getList"
                                :last_page="list.last_page"></page-functions>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <entries-form v-if="showForm"
                      :edittingItem="edittingItem"
                      @close="onCloseForm"
                      @saved="getList"></entries-form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                list:[],
                showForm:false,
                edittingItem:null,
            }
        },
        props: [],
        mounted() {

            this.getList();
        },
        methods: {
            getList(evt={}){
                let url = '/api/entries';

                axios.get(url.paginableUrl(evt))
                    .then(res=>{
                        this.list = res.data;
                    })
                    .catch(err=>this.showError(err));
            },
            deleteItem(item){
                let url = '/api/entries/';

                axios.delete(url+item.id)
                    .then(res=>{
                        this.$toast.success(res.data.data);
                        this.getList();
                    })
                    .catch(err=>this.showError(err));
            },
            editItem(item){
                this.edittingItem = item;
                this.showForm = true;
            },
            onCloseForm(){
                this.edittingItem = null;
                this.showForm = false;
            }
        }
    }

</script>

<style scoped>
    .list-group-item { background: transparent; }
    .list-group-item .list-footer {opacity: .6}
</style>
