<template>
    <div>

        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        <h2>Sign In</h2>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="submit">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Enter your Email" v-model="user.email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password" v-model="user.password">
                            </div>

                            <button class="btn btn-primary btn-block">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user:{}
            }
        },
        beforeMount(){
            if (this.$auth.isLoggedin())
                this.$router.push('/');
        },
        methods: {
            submit(){
                this.login();
            },
            login(){
                if(this.user.email && this.user.password ) {

                    axios.post('/api/login',this.user)
                        .then(res=>{
                            let token = res.data.data.token;

                            this.$auth.setToken(token.access_token,token);
                            this.$auth.setIdentity(res.data.data.user);

                            this.$router.push('/');
                        })
                        .catch(err=>this.showError(err));


                } else {
                    this.$toast.error('Enter Email and Password Please.');
                }
            }
        }
    }
</script>

<style scoped>

</style>
