<template>
    <div>

        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        <h2><b>ERROR 404!</b></h2>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="py-4">THE PAGE YOU ARE LOOKING FOR DOESN'T EXIST</h5>
                        <router-link to="/" class="btn btn-primary btn-block">BACK TO HOME</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        methods: {
        }
    }
</script>

<style scoped>

</style>
