<template>
    <div>

        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        <h2>Registration</h2>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="register">

                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Enter your Full Name" v-model="user.name">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Enter your Email" v-model="user.email">
                            </div>
                            <div class="form-group">
                                <label>Twitter Username</label>
                                <input type="text" class="form-control" placeholder="Enter your Twitter Username" v-model="user.twitter_username">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password" v-model="user.password">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Confirm Password" v-model="user.password_confirmation">
                            </div>

                            <button class="btn btn-primary btn-block">Register</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user:{}
            }
        },
        beforeMount(){
            if (this.$auth.isLoggedin())
                this.$router.push('/');
        },
        methods: {
            register(){
                axios.post('/api/register',this.user)
                    .then(res=>{
                        this.$toast.success(res.data.data);
                        this.$router.push('/login');
                    })
                    .catch(err=>this.showError(err));

            }
        }
    }
</script>

<style scoped>

</style>
