<template>
    <div class="container py-3">
        <div class="row">
            <div class="col text-center">

                <ul class="mb-0 pagination justify-content-center">
                    <li class="page-item d-none d-sm-block"
                        @click.prevent="pageChanged(1)"
                        :class="current_page - 1 === 0 ? 'disabled' : ''">
                        <a class="page-link" href="#">First</a>
                    </li>
                    <li class="page-item d-none d-sm-block" v-for="page in pages_list"
                        @click.prevent="pageChanged(page.number)"
                        :key="page.number"
                        :class="current_page === page.number ? 'active' : ''">
                        <a class="page-link" href="#">{{page.number}}</a>
                    </li>
                    <li class="page-item d-none d-sm-block"
                        @click.prevent="pageChanged(last_page)"
                        :class="current_page + 1 > last_page ? 'disabled' : ''">
                        <a class="page-link" href="#">Last</a>
                    </li>


                    <li class="page-item d-block d-sm-none"
                        @click.prevent="pageChanged(current_page - 1)"
                        :class="current_page - 1 === 0 ? 'disabled' : ''">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item d-block d-sm-none"
                        @click.prevent="pageChanged(current_page + 1)"
                        :class="current_page + 1 > last_page ? 'disabled' : ''">
                        <a class="page-link" href="#">Next</a>
                    </li>


                </ul>

            </div>

        </div>
    </div>
</template>

<script>
    /**
     * # INPUT
     * - last_page | required
     *
     * # OUTPUT
     * - changed
     */
    export default {
        data() {
            return {
                showing:3,
                current_page:1,
                pages_list:[],
                params:{
                    page:1,
                    search:null,
                    per_page:3
                }
            }
        },
        mounted() {
            this.doPagesList();
        },
        watch:{
            last_page: function(oldVal,newVal){
                this.doPagesList();
            }
        },
        methods: {
            doPagesList(){
                // Reseteo la lista
                this.pages_list=[];

                // Agrego los items antes del actual
                if (this.current_page > 3){
                    for (let i=this.current_page; i>=this.current_page-2; i--){
                        this.pages_list.unshift({
                            number:i,
                        })
                    }
                } else {
                    for (let i=1; i<=this.current_page; i++){
                        this.pages_list.push({
                            number:i,
                        })
                    }
                }

                // Agrego los items despues del actual
                let rest = this.last_page - this.current_page;

                if (rest !== 0) {
                    // reasigno a la cantidad maxima de paginas por delante
                    rest = rest > 2 ? 2 : rest;

                    for (let i=this.current_page+1; i<=this.current_page+rest; i++){
                        this.pages_list.push({
                            number:i,
                        })
                    }
                }

            },


            pageChanged(number){
                if (number > 0 || number <= this.last_page()) {
                    this.current_page = number;
                    this.params.page = number;
                    this.changed();
                }
            },
            searched(evt){
                this.params.page = 1;
                this.params.search = evt.target.value;
                this.changed();
            },
            showChanged(val){
                this.params.page = 1;
                this.params.per_page = this.showing;
                this.changed();
            },

            changed(){
                this.doPagesList();

                this.$emit('changed',this.params);
            },
        },
        props:{
            last_page:{
                default(){
                    return 0;
                }
            }
        }
    }
</script>

<style scoped>
    .page-link{
        min-width: 2.6em;
        margin-right: .5em;
        text-align: center;
        border-radius: 4em;
        color: black;
    }
    .page-item:first-child .page-link {
        margin-left: 0;
    }
    .page-item:first-child .page-link,.page-item:last-child .page-link {
        margin-left: 0;
        border-radius: 4rem;
        border-radius: 4rem;
    }
    .form-inline label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
</style>
